:host {
  display: inline-block;
}
.sort-indicator {
  color: white;
  display: inline-block;
  line-height: 1rem;
  margin-left: 0.5rem;
  width: 1rem;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 2px solid gray;
  padding: 0.5rem;
}
th {
  background-color: cornflowerblue;
  color: white;

  > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    width: 100%;
  }
}
