:host {
  display: block;
}

fieldset {
  border-color: var(--border-color, 'black');
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;

  > legend {
    color: var(--legend-color, 'black');
  }

  > div {
    display: flex;
    flex-direction: var(--direction, row);
    gap: var(--gap, 1rem);

    > div {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}

input {
  margin: 0;
}
